{% extends 'posts/base.html'%}

{% block contenido%}
<br><br><br>

    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">

                <h3 class="mx-auto my-0 text-uppercase">
                    Un poco de mí:
                </h3> <br>
                <h4>
                    Mi nombre es Gastón, soy técnico personal y profesional en informática, trabajo en una empresa constructora
                    llamada Alsina liquidando sueldos y me fascina programar.
                    También tengo otros hobbyes como construir y volar mis propias naves no tripuladas (Quadcopters), la electrónica y obviamente jugar videojuegos
                </h4> <br>
                <h4>
                    Este proyecto fue toda una aventura, desde el principio que si bien tenía conocimientos básicos adquiridos a las piñas de python
                    logré sumar muchas cositas más, cómo cuando hice el script para limpiar mi Gdrive (gracias Leo xdd)
                </h4> <br>
                <h4>
                    Pero más duro fue el final, pues hubo que aplicar todo lo adquirido, y sí que fue mucho. Haciendo el curso me di cuenta lo poco que sé
                </h4> <br>
                <h4>
                    Sólo te incentiva a saber más, no dejes de aprender! ♥ 🚀
                </h4>
            </div>
        </div>
    </div>




{% endblock%}
