<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %} <!-- esto es fucking important-->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Proyecto final, Jongewaard</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <link href="{% static 'posts/css/styles.css'%}" rel="stylesheet" />
    </head>
    <body id="page-top">
            <nav class="navbar navbar-expand-lg bg-black text-black-50 text-uppercase fixed-top" >
                <div class="container px-4 px-lg-5">
                    <a class="navbar-brand" href="{% url 'home' %}">Inicio</a>
                    <a class="navbar-brand" href="{% url 'ver_post' %}">Posts</a>
                    {% if request.user.username %}
                    <a class="navbar-brand" href="{% url 'crear_post' %}">Crear</a>
                    <a class="navbar-brand" href="{% url 'indx_msgs' %}">Mensajes</a>
                    {% endif %}
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ms-auto">
                            {% if request.user.username %} <!-- si está logueado, muestra el menu y para salir  mensajes-->
                            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Salir - {{request.user.username}}</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'editar_usuario' %}">Editar</a></li>
                            {% else %} <!-- sino, si no está logueado, muestra para ingresar-->
                            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Ingresar</a></li>
                            {% endif %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
                        </ul>
                            {% if request.user.username %} <!-- si está logueado, muestra el menu y para salir-->
                            <li class="nav-item"><img src="{{imagen}}" alt="Avatar" width="50" height="40"></li>
                            {% endif %}
                    </div>
                </div>
            </nav>


        {% block contenido%}
        {% endblock%}


        <section class="projects-section bg-light" id="projects">
            <div class="container px-4 px-lg-5">

            </div>
        </section>

        <footer class="footer bg-black small text-center text-white-50"><div class="container px-4 px-lg-5">Copyright &copy; Jongewaard de Boer</div></footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'posts/js/scripts.js'%}"></script>
    </body>
</html>
