{% extends 'posts/base.html'%}

{% block contenido%}
<br><br><br>
<style>
    h1 {text-align: center;}
    h2 {text-align: center;}
    h3 {text-align: center;}
    h4 {text-align: center;}
    h5 {text-align: center;}
    p {text-align: center;}
    form {text-align: center;}
    div {text-align: center;}
    hr {
    margin-left: auto;
    margin-right: auto;
    }
</style>
{% if error%}
<br><p>{{error}}</p><br>
{% endif %}
<!-- busqueda -->
<form action="" method="get">
    {% if largo_busqueda %}
    <label>coincidencia/s: {{largo_busqueda}}</label><br>
    {% endif %}
    <input type="text" id="cont_busqueda" name="cont_busqueda" value="{{busqueda_anterior}}">
    <input type="submit" value="Buscar">
</form>
<br>
<hr>

<br><br>


<!-- busqueda -->
<!-- por cada post creado, recorremos e imprimimos-->
{% for post in post_lists %}
    <!-- titulo -->
    <h2>{{post}}</h2>
    <h4>
        <p>
            <!-- Agregamos la imagen avatar si la tiene para el usuario -->
            {% for image in imagenes %}
                {% if post.autor.username == image.user.username %}
                    <img src="{{image.imagen.url}}" alt="Image" width="50" height="40">
                {% endif %}
            {% endfor%}
            <!-- Mostramos al autor y la fecha de creación -->
            {{post.autor}} // {{post.f_creacion}}
        </p>
    </h4>
    <!-- Y su contenido -->
    <h5>{{post.contenido}}</h5>
    <!-- imprimo los comentarios -->
    <hr width="38%">
        <!-- recorremos los comentarios -->
        {% for comment in comments %}
            <!-- si hay un comentario relacionado con el post, lo imprimimos -->
            {% if comment.related_post == post.id%}
            <form method="POST">
            <p>
            <!-- Lo mismo que el user del post, para el user del comentarista, ponemos su avatar -->
            {% for image in imagenes %}
                {% if comment.autor.username == image.user.username %}
                    <img src="{{image.imagen.url}}" alt="Image" width="30" height="20">
                {% endif %}
            {% endfor%}
            <!-- y su comentario -->
            {{comment}}
                <!-- Si el usuario en cuestión está logueado, verá un botón de eliminar comentario (que no lo eliminará, dejará un mensaje de 'borrado') -->
                {% if comment.autor.username == request.user.username and not comment.comentario == "--deleted--" %}
                    {% csrf_token %}
                    <input type="hidden" name = "id_comentario_borrar" value={{comment.id}} >
                    <input type="submit" value="Borrar">
                {% endif %}
            </p>
            </form>

            {% endif %}
        {% endfor%}
    <!-- Si el usuario está logueado podrá ver el formulario para comentar el post -->
    {% if request.user.username %}
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="id_post" value= {{post.id}} >
        <input type="hidden" name="autor" value= {{post.autor}} >
        <!-- imprimo el post -->
        {{form.as_p}}
        <button type="submit">Enviar</button>
    </form>
    {% endif %}
    <!-- si el usuario logueado es el creador del post, podra ver el botón de editar post -->
    {% if post.autor.username == request.user.username %}
    <form action="{% url 'editar_post' %}" method="GET">
        <input type="hidden" name="id_post" value= {{post.id}} >
        <button type="submit">Editar post</button>
    </form>
    {% endif %}
    <br>
    <hr>
{% endfor%}



{% endblock%}


